package $classPackage;

#if($hasDtoClasses)
import ${classPackage}.dto.*;
#end
#if($baseClassFullName.length()>0)
import $baseClassFullName;
#end
import $queryExecutorClassFullName;
#foreach($className in $implementsFullList)
import ${className};
#end

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.jdbc.core.RowMapper;
import org.springframework.stereotype.Repository;


import javax.annotation.Generated;
import java.util.List;
import java.util.Map;


@Generated(
    value = "com.github.nds842.sqlfirst.apc.SqlFirstAnnotationProcessor"
)
@Repository
public class ${daoClassName}#if($baseClassSimpleName.length()>0) extends ${baseClassSimpleName}#end implements #foreach($className in $implementsNameList)
${className}#if($foreach.hasNext), #end#end {

    private static final String PACKAGE_NAME = "$classPackage";

    @Autowired
    private $queryExecutorClassName sqlFirstQueryExecutor;

#macro( tr $method )
#if(${method.hasResponse()})
        RowMapper<${method.responseClass()}> rowMapper = (resultSet, i) -> {
            ${method.responseClass()} dto = new ${method.responseClass()}();
#foreach ($field in $method.responseParamList)
            dto.set${field.getNameFirstUpper()}(resultSet.get${field.getSimpleTypeName()}(${method.responseClass()}.$field.getNameUnderscores()));
#end
            return dto;
        };
#end
#end

#foreach ($method in $queryDescList)
$method.methodJavadoc
    public #if(${method.hasResponse()})List<${method.responseClass()}>#{else}void#end ${method.methodName}(#if(${method.hasRequest()})${method.requestClass()} req#end) {
#tr($method)
        #if(${method.hasResponse()})return sqlFirstQueryExecutor.executeQuery#{else}sqlFirstQueryExecutor.execute#{end}(sqlFirstQueryExecutor.getTemplate(PACKAGE_NAME, "${method.getMethodNameFirstUpper()}")#if(${method.hasRequest()}), req#{end}#if(${method.hasResponse()}), rowMapper#end);
    }

#end
    public Class<${daoClassName}> getUnproxiedClass(){
        return ${daoClassName}.class;
    }
}
