package $classPackage;

#if($hasDtoClasses)
import ${classPackage}.dto.*;
#end
import $baseTestFullName;
#foreach($className in $implementsFullList)
import ${className};
#end
import org.testng.annotations.Test;
import org.springframework.beans.factory.annotation.Autowired;


import javax.annotation.Generated;

@Generated(
    value = "com.github.nds842.sqlfirst.apc.SqlFirstAnnotationProcessor"
)
public class ${daoTestClassName} extends ${baseTestSimpleName} {

#foreach($className in $implementsNameList)
    @Autowired
    private $className $stringUtils.uncapitalize($className);
#end

#foreach ($method in $queryDescList)
$method.methodJavadoc
    @Test
    public void ${method.methodName}Test() {
#foreach($className in $implementsNameList)
        $stringUtils.uncapitalize($className).${method.methodName}(#if(${method.hasRequest()})prepareTestDto(${method.requestClass()}.class)#end);
#end
    }

#end}
